<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaseMe.AI Application</title>
    <!-- 例子：如何在Flask中正确引用CSS文件 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Application Form</h1>
        <p>CaseMe.ai offers personalized case interview preparation by customizing questions to match your career background and aspirations, ensuring a secure and tailored experience that evolves with you.</p>
        <button id="startButton">Start</button>

        <form id="userForm" style="display: none;">
            <!-- Case Type Question -->
            <label for="caseType">Choose your case type:</label>
            <select id="caseType" name="caseType" required>
                <option value="marketSizing">Market Sizing</option>
                <option value="mandA">M&A</option>
                <option value="newProducts">New Products</option>
                <option value="profitability">Profitability</option>
            </select>

            <!-- Geography Question -->
            <label for="geography">Choose your geography:</label>
            <select id="geography" name="geography" required>
                <option value="middleEast">Middle-East</option>
                <option value="africa">Africa</option>
                <option value="europe">Europe</option>
                <option value="asia">Asia</option>
            </select>

            <!-- Industry Question -->
            <label for="industry">Choose your industry:</label>
            <select id="industry" name="industry" required>
                <option value="financialServices">Financial Services</option>
                <option value="manufacturing">Manufacturing</option>
                <option value="publicSector">Public Sector</option>
                <option value="tmt">TMT</option>
            </select>

            <!-- Difficulty Question -->
            <label for="difficulty">Choose your difficulty:</label>
            <select id="difficulty" name="difficulty" required>
                <option value="noob">Noob</option>
                <option value="consultant">Consultant</option>
                <option value="intermediate">Intermediate</option>
                <option value="johnnyBedran">Johnny Bedran</option>
            </select>

            <button type="button" onclick="submitForm()">Submit</button>
        </form>
    </div>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>


</body>
</html>


